body{
    margin: 0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img{
    margin-top: 15px;
    height: 50px;
    padding-left: 0px;
}

.logout{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}

main{
    clear: left;
    width: 100%;
}

.form_contents{
    padding: 30px 25px;
    margin: 0 auto;
    border: lightgray 2px solid;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgray;
    position: relative;
}

h2{
    text-align: center;
    border-bottom: 1px solid #31A263;
    font-size: 20px;
}

.logout {
    position: absolute;
    top: 5px;
    right: 0;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.profile_left{
    position:relative;
    margin-right: 40px;
    border: solid lightgray 2px;
    margin-bottom:5px;
}

.profile_bottom{
    text-align: center;
}

.name,.mail,.password{
    line-height: 50px;
}

.comments{
    padding: 10px 0px 20px 0px;
    text-align: center;
}

.formbox{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}

textarea{
   width: 90%;
   margin: 0 auto;
   
}

.submit_button1 {
    border: 1px solid lightgray;
    padding: 8px 60px 6px 60px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: 2px solid gray;
    width: 250px;
    margin-bottom: 0px;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.submit_button2 {
    border: 1px solid lightgray;
    padding: 8px 60px 6px 60px;
    color: white;
    background-color: red;
    border-radius: 5px;
    border-bottom: 2px solid gray;
    width: 250px;
    margin-bottom: 0px;
    cursor:pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5px;
}

footer{
    width: 100%;
    height: 40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
    position: absolute;
    bottom: 0;
}

.profile_hidden{
    display:none;
}